<!DOCTYPE html>
<html>
<head>
	<link href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.css" rel="stylesheet">
	<style>.content {padding-top:80px;}</style>
</head>
<body>
	<div class="topbar">
		<div class="fill">
			<div class="container">
					<h2><a href="/">svg-png-api</a> <small>why?  I wanted to try.</small></h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="content">
			{{#if file}}
			<div class="page-header"><h2>Your PNG file</h2></div>
			<p> {{ file }} </p>
			{{else}}
			<div class="page-header"><h2>Paste your svg</h2></div>
			<form action='/' method='post' enctype="application/x-www-form-urlencoded">
				<textarea rows='25' class='input-xxlarge' name='svgcode'></textarea>
				<br /><br />
				<input type='submit' class='btn primary'>
			</form>
			{{/if}}
		</div>
	</div>
</body>

</html>
